{% extends "base.html" %}
{% block content %}
<body>
    
 <div class="d-flex justify-content-around flex-wrap ">
    <div class="google-map class="m-5">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2990.274257380938!2d-70.56068388481569!3d41.45496659976631!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89e52963ac45bbcb%3A0xf05e8d125e82af10!2sDos%20Mas!5e0!3m2!1sen!2sus!4v1671220374408!5m2!1sen!2sus" height="300px" width="60%" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
  
    <div class="m-5">
      गर्मीयाम
  आइतवार-बिहीबार 10:00 A.M.-5:00 P.M. <br>
  शुक्रवार 10:00 A.M.- 3:00 P.M. <br>
  जाडोयाम
  आइतवार-बिहीबार 10:00 A.M-4:00 P.M. <br>
  शुक्रवार 10:00 A.M.- 3:00 P.M. <br>
  सार्वजनिक छुट्टीहरूमा बन्द।
    </div>
    <div class="m-5">
      <h2>Our contact Info</h2>
      मीनभवन, काठमाडौँ <br>
  फोन नम्बर:
  014574921 <br>
  फ्याक्स नम्बर:
  014574922 <br>
  सहायता कक्ष:
  014574922 <br>
  इमेल:
  info@dotm.gov.np
    </div>
   </div>
</body>
{% endblock %}