{% extends "base.html" %}
{% block title %} Register Vehicle{% endblock %}



{% block content %}
<style>
 body{
        
        background-size: cover;
        background-repeat: no-repeat;
        width:100%;
        height: 100vh;
        
    }
</style>
<body>
 <h1 style="text-align: center;">Register Vehicle</h1>
 <form method="post"   style="text-align: center;" enctype="multipart/form-data">
              
    {% csrf_token %}
    {{ form.as_p}}
    <hr>
    <input class="btn btn-outline-danger" type="submit" value="Register">
  </form>
</body>


{% endblock %}