{% extends "base.html" %}
{% block title %} Vehicle Information {% endblock %}



{% block content %}
<style>
  body {

    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;

  }
</style>

<body>
  <h1 style="text-align: center;">Your Vehicles</h1>

  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Brand</th>
        <th scope="col">Number</th>
        <th scope="col">Registered At</th>
        <th scope="col">Last Renewed</th>
        <th scope="col">Expiry Date</th>
        <th scope="col">Time till Expiry</th>
        <th scope="col">Expired</th>
      </tr>
    </thead>
    <tbody>
      {% for d in data %}
      <tr>
        <th scope="row">{{forloop.counter}}</th>
        <td>{{d.vehicle}}</td>
        <td>{{d.number}}</td>
        <td>{{d.registered_at}}</td>
        {% if d.renewed_date %}
        <td>{{d.renewed_date}}</td>
        <td>{{d.expiry_date}}</td>
        <td>{{d.time_remaining}}</td>

        {% if d.expired == "No" %}
        <td style="color:Green">{{d.expired}}</td>
        {% else %}
        <td style="color:Red">{{d.expired}}</td>
        {% endif %}

        {% if d.is_approved %}
        <td><a class="btn btn-primary" disabled="true" href="{% url 'myapp:esewapayment' d.id %}">Renew</a></td>
        {% else %}
        <td>
          <p>Not approved</p>
        </td>
        {% endif %}

        {% else %}
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>Yes</td>
        {% if d.is_approved %}
        <td><a class="btn btn-primary" disabled="true" href="{% url 'myapp:esewapayment' d.id %}">Renew</a></td>
        {% else %}
        <td>
          <p>Not approved</p>
        </td>
        {% endif %}

        {% endif %}


      </tr>
      {% endfor %}
    </tbody>

















  </table>


  <a class="btn btn-primary" href="{% url 'myapp:vehicleregistration' %}">Add Vehicle</a>

</body>


{% endblock %}